---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Solutions from '../components/Solutions.astro';
import DemoForm from '../components/DemoForm.astro';
---

<Layout title="HealthVoiceAI - Transform Patient Interactions with Speech Analytics">
	<Header />
	<main>
		<Hero />
		<Features />
		<Solutions />
		<DemoForm />
	</main>
</Layout>